html {
  font-size: 12px;
}

body{
  height: 100vh;
  width: 100vw;
  background-color: black;
  font-family: 'Sorts Mill Gaudy', serif;
  color: rgb(248, 248, 248);
}

.container{
  box-sizing: border-box;
  height: 990px;
  width: 600px;
  margin: 0 auto;
  background-color: red;
  text-transform: uppercase;
  padding: 5rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: justify;
  text-align-last: justify;
}

.row > * {
  width: 100%;
}

.artists{
  font-size: .7rem;
  letter-spacing: .2rem;
  margin-bottom: 4rem;
}

.artist h2{
  font-size: 2.2rem;
  line-height: 3rem;
}

.artist h2 span.big{
  font-size: 2.8rem;
}

.asap{
  letter-spacing: .75rem;
}

.rocky{
  letter-spacing: .3rem;
}

.gucci{
  letter-spacing: 1.4rem;
  margin-left: .45rem;
}

.mane{
  letter-spacing: 2.5rem;
  margin-left: .45rem;
}

.artist h2.right{
  text-align: right;
  text-align-last: right;
  margin-bottom: 4rem;
}

.young{
  letter-spacing: .8rem;
  margin-right: -.4rem;
}

.thug{
  letter-spacing: 1.6rem;
  margin-right: -1.3rem;
}

h1 {
  font-size: 7rem;
  letter-spacing: .1rem;
  margin-bottom: 3rem;
}

h1.rvk{
  font-size: 3.5rem;
  letter-spacing: 3rem;
  margin-bottom: .8rem;
}

.festival{
  letter-spacing: 1.3rem;
  text-shadow:
			0 -1rem 0 rgba(0,0,0,0.075),
			0 -2rem 0 rgba(0,0,0,0.075),
			0 -3rem 0 rgba(0,0,0,0.075),
      0 -4rem 0 rgba(0,0,0,0.075),
			0 -5rem 0 rgba(0,0,0,0.075),
			0 -6rem 0 rgba(0,0,0,0.075),
			0 -7rem 0 rgba(0,0,0,0.075),
			0 -8rem 0 rgba(0,0,0,0.075),
			0 -9rem 0 rgba(0,0,0,0.075),
			0 -10rem 0 rgba(0,0,0,0.075),
			0 -11rem 0 rgba(0,0,0,0.075),
			0 -12rem 0 rgba(0,0,0,0.075),
			0 -13rem 0 rgba(0,0,0,0.075),
			0 -14rem 0 rgba(0,0,0,0.075),
			0 1rem 0 rgba(0,0,0,0.075),
			0 2rem 0 rgba(0,0,0,0.075),
			0 3rem 0 rgba(0,0,0,0.075),
			0 4rem 0 rgba(0,0,0,0.075),
			0 5rem 0 rgba(0,0,0,0.075),
			0 6rem 0 rgba(0,0,0,0.075),
			0 7rem 0 rgba(0,0,0,0.075),
			0 8rem 0 rgba(0,0,0,0.075),
			0 9rem 0 rgba(0,0,0,0.075),
			0 10rem 0 rgba(0,0,0,0.075),
			0 11rem 0 rgba(0,0,0,0.075),
			0 12rem 0 rgba(0,0,0,0.075),
			0 13rem 0 rgba(0,0,0,0.075),
			0 14rem 0 rgba(0,0,0,0.075),
			0 15rem 0 rgba(0,0,0,0.075),
			0 16rem 0 rgba(0,0,0,0.075),
			0 17rem 0 rgba(0,0,0,0.075),
			0 18rem 0 rgba(0,0,0,0.075),
			0 19rem 0 rgba(0,0,0,0.075),
			0 20rem 0 rgba(0,0,0,0.075),
			0 21rem 0 rgba(0,0,0,0.075),
			0 22rem 0 rgba(0,0,0,0.075),
			0 23rem 0 rgba(0,0,0,0.075),
			0 24rem 0 rgba(0,0,0,0.075),
			0 25rem 0 rgba(0,0,0,0.075),
			0 26rem 0 rgba(0,0,0,0.075),
			0 27rem 0 rgba(0,0,0,0.075),
			0 28rem 0 rgba(0,0,0,0.075),
			0 29rem 0 rgba(0,0,0,0.075),
			0 30rem 0 rgba(0,0,0,0.075),
			0 31rem 0 rgba(0,0,0,0.075),
			0 32rem 0 rgba(0,0,0,0.075),
			0 33rem 0 rgba(0,0,0,0.075),
			0 34rem 0 rgba(0,0,0,0.075),
			0 35rem 0 rgba(0,0,0,0.075),
			0 36rem 0 rgba(0,0,0,0.075);
		transition: all 0.5s ease-in-out;
}
.festival:hover{
  cursor: pointer;
  color: #fff;
  text-shadow:
    0 1rem 0 rgba(255,255,255,0.1),
    0 2rem 0 rgba(255,255,255,0.1),
    0 3rem 0 rgba(255,255,255,0.1),
    0 4rem 0 rgba(255,255,255,0.1);
}

h1 span.big{
  font-size: 10rem;
  
}

.hvar,
.hvenær,
.viðhald{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  font-weight: bold;
}

.hvar{
  margin: 0 1.8rem;
}

.uppl p{
  margin-bottom: .8rem;
}

.uppl h3,
.uppl p.and {
  margin-bottom: .2rem;
}

.uppl h3:empty{
  margin-bottom: 1.4rem;
}

.uppl p {
  font-size: .6rem;
}

.uppl h3 {
  font-size: .9rem;
}

.uppl h3 span.big{
  font-size: 1.2rem;
}

.uppl p.and{
  line-height: 1.2rem;
}

.hvenær p:nth-of-type(1){
  letter-spacing: 2.35rem;
  margin-right: -1.6rem;
}

.hvenær p:nth-of-type(2) {
  letter-spacing: 6.6rem;
  margin-right: -13.6rem;
}

.hvenær h3{
  letter-spacing: .29rem;
  margin-right: -.29rem;
}

.hvar p:nth-of-type(1) {
  letter-spacing: 3rem;
  margin-right: -1.55rem;
}

.hvar p:nth-of-type(2) {
  letter-spacing: 4.8rem;
  margin-right: -13.6rem;
}

.hvar h3:nth-of-type(1){
  letter-spacing: .73rem;
  margin-right: -.73rem;
}
.hvar h3:nth-of-type(2){
  letter-spacing: 1.3rem;
  margin-right: -1.3rem;
}
.hvar h3:nth-of-type(3){
  letter-spacing: .88rem;
  margin-right: -.88rem;
}
.hvar h3:nth-of-type(4){
  letter-spacing: .3rem;
  margin-right: -.3rem;
}


.viðhald p:nth-of-type(1){
 letter-spacing: 4rem;
 margin-right: -1.52rem;
}
.viðhald p:nth-of-type(2){
  letter-spacing: 6.3rem;
  margin-right: -11.3rem;
 }
 .viðhald h3:nth-of-type(1){
  letter-spacing: .37rem;
  margin-right: -.37rem;
 }
 .viðhald p:nth-of-type(3){
  letter-spacing: 5.3rem;
  margin-right: -5.3rem;
 }
 .viðhald h3:nth-of-type(2){
  letter-spacing: .25rem;
 }
 .viðhald h3:nth-of-type(3){
  letter-spacing: .25rem;
  margin-right: -.25rem;
 }

 .uppl{
  margin-bottom: 3rem;
 }

 .plot p{
  font-size: 1.2rem;
  text-transform: none;
  text-align-last: left;
  line-height: .75rem;
  letter-spacing: .05rem;
  margin-bottom: 1rem;
 }

 .date{
  font-size: 1.8rem;
  letter-spacing: .3rem;
 }